#icons {
  display: flex;
  flex-wrap: wrap;
}
#icons div.icon {
  width: 100px;
  height: 100px;
  margin: 3px;
  border: solid black 2px;
  border-radius: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#icons div.icon svg {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}
#icons div.icon small {
  color: green;
  font-family: sans-serif;
  font-size: 12.5px;
  text-align: center;
}

#icons div.icon[data-selected="true"] {
  background-color: darkgreen;
}
#icons div.icon[data-selected="true"] svg {
  color: white;
}
#icons div.icon[data-selected="true"] small {
  color: white;
}

#icons div.icon.hover {
  background-color: lightgreen;
}

/* standard icon size */
.svi {
  color: green;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

/* svg icon with default background */
.svi svg {
  color: white;
  height: 60%;
  width: 60%;
}

/* inverse svg icon inverse with background color */
:not(svg).svi {
  height: 1.25em;
  width: 1.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

/* circle background for icon */
.svi.svi-circle {
  border-radius: 100%;
}
/* rounded square background for icon */
.svi.svi-round {
  border-radius: 20%;
}
